.button-search {
    background: unset;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    color: #fff;
    box-sizing: border-box;
    padding: 8px 24px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    i {
        margin-left: 6px;
        font-size: 15px;
    }
}
.btn-violet {
    border: none;
    color: #fff;
    background: #5642F5;
    transition: 0.3s;
    &:hover {
        background: #653CCF;
    }
    &:active {
        background: #2930CB;
    }
}

.button-advertise {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    border-radius: 8px;
    padding: 8px 24px;
    text-transform: uppercase;
}

.button-about {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 8px;
    text-transform: uppercase;
}
