body {
    background-color: #08162E;
}
.wrapper {
    width: 1249px/1440px*100%;
    margin: 0 auto;
}

.h1  {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 96px;
    color: #FFFFFF;
    span {
        color: #5642F5;
    }
    &-description {
        font-family: Gilroy;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        margin-bottom: 24px;
        max-width: 508px;
    }
}

.icon-social {
    background: unset;
    color: #fff;
    font-size: 40px;
    transition: 0.3s;
    &:hover { 
        color: #41E295;
    }
}

.link-desktop {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #41E295;
    i{
        margin-left: 4px;
    }
    &:hover {
        i {
            margin-left: 12px;
            transition: 0.3s;
        }
    }
    &:active {
        color: #5642F5;
    }
}


.tools-link {
    border: 2px solid #5642F5;
    border-radius: 16px;
    width: 188px;
    height: 188px;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    justify-content: center;
    transition: 0.3s;
    &:hover {
        background: #5642F5;
    }
    &__description {
        position: absolute;
        bottom: 28px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
    }
    &__wild {
        display: flex;
        align-items: center;
        justify-content: left;
        width: 295px;
        height: 188px;
        box-sizing: border-box;
        border-radius: 16px;
        position: relative;
        transition: 0.3s;
        &:hover {
            background: #5642F5;
        }
    }
}


// .tools-card {
//     border: 2px solid #5642F5;
//         border-radius: 16px;
//         width: 188px;
//         height: 188px;
//         display: flex;
//         text-align: center;
    
//         position: relative;
//         justify-content: center;
//     &__link {
        
//     }
//     &__img {
        
//     }
//     &__description {
//         position: absolute;
//         bottom: 28px;

//         font-family: Gilroy;
//         font-style: normal;
//         font-weight: 500;
//         font-size: 24px;
//         line-height: 32px;
//         color: #FFFFFF;
        
//     }
//     &__wild {

//         &-description {

//         }
//     }

// }