// HEADER START 
.header {
    position: relative;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0px; 
    }
    &__nav {
        align-self: stretch;
        margin: -16px 0;
        display: flex;
        justify-content: space-between;
        &>*:not(:last-child) {
            margin-right: 25px;
        }
    }
    &__link {
        height: 100%;
        display: inline-flex;
        align-items: center;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        margin-right: 4px;
        i {
            font-size: 10px;
            margin-left: 7px;
            transition: 0.3s;
            display: inline-block;
        }
    }
    &__item { 
        &:hover .submenu {
            display: block;
        }
        &:hover .submenu-topics {
            display: block;
        }
        &:hover {
            .header__link i {
                transform: rotate(90deg);
            }
        }
    }
    &-bunner {
        &__img {
            background: #fff;
            padding: 7px 6px;
            border-radius: 4px 0px 0px 4px;
        }
        &__link {
            display: flex;
        }
        &__text {
            font-family: Gilroy;
            font-style: normal;
            font-weight: 800;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            background: #0052C7;
            border-radius: 0px 4px 4px 0px;
            padding: 5px 6px 7px 8px;
            span {
                font-family: Helvetica;
                font-weight: bold;
                font-size: 8px;
                line-height: 8px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
        }
    }
    &__button {
        .button-search {
            margin-right: 8px;
        }
    }
}
// HEADER END

// LOGO 
.logo {
    &__name { 
        font-family: Gilroy;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 25px;
        color: #FFF;
    }
}
// LOGO 

// MAIN-DESKTOP START 
.main-desktop {
    background: url(../img/bg__home-page.jpg) center/cover no-repeat;
    &__content {
        display: flex;
        justify-content: space-between;
        padding: 100px 0px 267px 0px;
        &-right {
            float: right;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
    &__title {
        margin-bottom: 40px;
    }
    &__description {
        max-width: 508px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        .description {
            margin-bottom: 24px;
        }
        :last-child {
            margin-bottom: 33px;
        }
    }
    &__link {
        margin-bottom: 8px;
        &:last-child {
            margin-bottom: unset;
        }
    }
    &__icon {
        font-size: 32px;
    }
}
// MAIN-DESKTOP END


// INFO-TOPICS START
.info-topics {
    &__content {
        padding: 52px 0px 64px 0px;
    }
    .h1 {
        margin-bottom: 25px;
    }
    .h1-description {
        margin-bottom: 25px;
    }
    &__title {
        margin-bottom: 64px;
    }
    .swiper-container {
        overflow: hidden;
        .info-topics__swiper-nav {
            display: flex;
            align-items: center;
            float: right;
            margin-top: 25px;
        }
    }
}
// INFO-TOPICS END

// SECTION-TOOLS START
.section-tools {
    &__content {
        padding: 103px 0px 99px 0px;
    }
    .h1 { 
        margin-bottom: 25px;
    }

    &__parts-card {
        margin: -12px;
        display: flex;
        flex-wrap: wrap;
        .tools {
            &-text {
                width: calc(100%/2 - 24px);
                margin: 12px;
                box-sizing: border-box;
            }
            &-link {
                width: calc(100%/6 - 24px);
                height: 188px;
                margin: 12px;
                box-sizing: border-box;
            }
            &-link__wild {
                width: calc(100%/4 - 24px);
                margin: 12px;
                box-sizing: border-box;
            }
        }
    }
}
// SECTION-TOOLS END

// PARTNERS START
.partners {
    padding-bottom: 142px;
    .h1 {
        margin-bottom: 25px;
    }
    .swiper {
        &-slide {
            &:hover {
                animation: bounce 1s;
            }
            &-none {
                border: none;
                &:hover {
                    background: none;
                }
            }
        }
        &-container {
            padding-top: 41px;
            .wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        &-wrapper {
            margin-bottom: 50px;
        }
        
    }
}
// PARTNERS END

// FOOTER START
.footer {
    padding: 88px 0px 55px 0px;
    background: #020A17;
    &__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 24px;
    }
    &__col {
        max-width: 292px;
        float: left;
        flex: 0 0 24%;
        .footer__email {
            margin-bottom: 40px;
        }
        &-one,
        &-two,
        &-three {
            .h5 {
                color: #5642F5;
            }
        }
        &-one {
            .helvetica-body__16 {
                margin-bottom: 26px;
            }
        }
        &-two {
            .helvetica-body__16 {
                margin-bottom: 17px;
            }
        }
        &-four {
            .footer__ref-link {
                margin-bottom: 8px;
                .ref-link {
                    font-family: Helvetica;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 16px;
                    color: #FFFFFF;
                }
            }
        }

    }
    .h5 {
        margin-bottom: 25px;
    }
    .helvetica-body__16 {
        color: rgba(255, 255, 255, 0.2);
    }
    &__social {
        margin-top: 24px;
        &>*:not(:last-child) {
            margin-right: 16px;
        }
    }
    .icon-arrow-right {
        font-size: 9px
    }
    .icon-social {
        font-size: 24px;
    }
    &__ref-link {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        &>*:not(:last-child) {
            margin-bottom: 16px;
        }
    }
    .ref-link {
        &__violet {
            margin-left: 19px;
        }
    }
    &__email {
        display: flex;
        &-left {
            background: #162557;
            border-radius: 8px 0px 0px 8px;
            padding: 8px 8px 8px 8px;
        }
        &-title {
            font-family: Helvetica;
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            line-height: 16px;
            color: #FFFFFF;
            margin-bottom: 8px;
        }
        &-input {
            background: none;
            border: none;
            color: #fff;
        }

        &-button {
            font-family: Gilroy;
            font-style: normal;
            font-weight: 800;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 22px 13px;
            background: #5642F5;
            border-radius: 0px 8px 8px 0px;
            border: none;
        }
    }
    &__end  {
        color: #5642F5;
        font-weight: bold;
        text-align: center;
    }
}
// FOOTER END

.submenu-topics {
    top: 100%;
    display: none;
    width: 100vw;
    position: absolute;
    background:#2930CB;
    left: 0;
}



.submenu {
    top: 100%;
    display: none;
    width: 100vw;
    position: absolute;
    background:#2930CB;
    left: 0;
    &__content {
        padding: 32px 42px 70px 42px;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        .live-prices {
            margin-right: 73px;
        }
        .topics {
            display: flex;
            flex-wrap: wrap;
            margin: -23px  -36px;
            &__info {
                margin: 23px 36px;
                .helvetica-body__13 {
                    max-width: 200px;   
                    color: #BCB8CC;
                }
            }
        }
    }
    .submenu__title {
        margin-bottom: 10px;
        i {
            margin-left: 4px;
            color: #41E295;
            font-size: 20px;
        }
        .h5 {
            transition: 0.3s;
            i {
                transition: 0.3s;
                font-size: 20px;
            }
            &:hover {
                color: #41E295;
                i {
                    margin-left: 12px;
                }
            }
        }
    }
    .live-prices {
        .submenu__title {
            margin-bottom: 16px;
        }
    }
}




// KEYFRAMES START
@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}

	80% {
		transform: translateY(-5px);
		transform: translateY(-5px);
	}
}
// KEYFRAMES END
