// MAX-WIDTH 1399.98PX breakpoints START
@media (max-width: 1399.98px) {
    .wrapper {
        max-width: 1171px
    }
    .footer { 
        &__email {
            &-left {
                padding-right: 0px;
            }
        }
    }
}
// MAX-WIDTH 1399.98PX breakpoints END

// MAX-WIDTH 1199.98PX breakpoints START
@media (max-width: 1199.98px) {
    .wrapper {
        max-width: 961px
    }
    .header {
        &__nav {
            display: none;
        }
        &__button {
            display: none;
        }
    }
    .section-tools {
        &__parts-card {
            .tools {
                &-text {
                    width: calc(100%/1 - 24px);
                }
                &-link {
                    width: calc(100%/3 - 24px);
                }
                &-link__wild {
                    width: calc(100%/2 - 24px);
                }
            }
        }
    }
    .footer {
        padding: 31px 0px 19px 0px;
        &__ref-link {
            margin-bottom: unset;
        }    
        .ref-link {
            &__violet {
                display: none;
            }
        }
        &__content {
            flex-direction: column;
            text-align: center;
            align-items: center;
            margin-bottom: 21px;
        }
        .h5 {
            margin-bottom: 5px;
        }
        .helvetica-body__16 {
            margin-bottom: 12px;
        }
        .icon-social {
            font-size: 40px;
        }
        &__1199 {
            display: flex;
            margin: 24px  0px;
            padding: 20px 0px;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            &>*:not(:last-child) {
                margin-right: 20px;
            }
        }
        &__col {
            max-width: unset;
            .footer__email {
                margin-bottom: 0px;
                justify-content: center;
            }
            &-two {
               display: none;
            }
            &-three {
                .h5 {
                    display: none;
                }
            }
            &-four {
                .footer__ref-link {
                    display: none;
                }
                .h5 {
                    margin-bottom: 16px;
                }
            }
        }
    }
    .submenu {
        &__content {
            display: block;
        }
        .live-prices {
            margin-right: 0px;
        }
        &__bitcoin { 
            display: flex;
            margin-bottom: 20px;
        }
    }
    .submenu-topics {
        &__content {
            max-width: 1000px;
        }
        &__body { 
            justify-content: unset;
            flex-wrap: wrap;
        }
        &__col {
            margin: 0px 45px;
        }
    }
}
// MAX-WIDTH 1199.98PX breakpoints END

// MAX-WIDTH 991.98PX breakpoints START
@media (max-width: 991.98px) {
    .h1  {
        font-size: 40px;
        line-height: 44px;
        &-description {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 24px;
        }
    }
    .link-desktop {
        font-size: 13px;
        line-height: 16px;
    }
    .h5 {
        font-size: 16px;
        line-height: 24px;
    }
    .wrapper {
        max-width: 96%;
    }
    .swiper {
        &-pagination {
            width: 518px;
        }
    }

    .main-desktop {
        &__content {
            padding: 20px 0px 72px 0px;
        }
    }
    .info-topics {
        &__content {
            padding: 11px 0px 72px 0px;
        }
        .h1 {
            margin-bottom: 25px;
            &-description {
                margin-bottom: 9px;
            }
        }
        &__title {
            margin-bottom: 20px;
        }
    }
    .section-tools {
        &__content {
            padding: 0px 0px 75px 0px;
        }
    }
    .partners {
        padding-bottom: 80px;
        .h1 {
            margin-bottom: 0px;
            &-description {
                display: none;
            }
        }
        .swiper {
            &-container {
                padding-top: 16px;
                .wrapper {
                    justify-content: end;
                }
            }
        } 
    }
    .submenu {
        &__content {
            .topics {
                &__info {
                    .helvetica-body__13 {
                        font-size: 10px;
                    }
                }
            }
        }
        .submenu__title {
            .h5 { 
                i {
                    font-size: 14px;
                }
            }
        }
    }
    .submenu__bitcoin {
        display: flex;
        flex-wrap: wrap;
        margin: -5px -10px;
        .bitcoin-block {
            margin: 5px 10px;
        }
    }

    .bitcoin {
        &-block {
            .helvetica-body__13 {
                font-size: 10px;
            }
            .helvetica-body__16 {
                font-size: 13px;
                line-height: 16px;
                span {
                    i {
                        font-size: 7px;
                    }
                }
            }
        }
    }
    .submenu-topics {
        &__body {
            justify-content: space-around;
        }
        &__col {
            margin: 5px 25px;
        }
    }
}
// MAX-WIDTH 991.98PX breakpoints END

// MAX-WIDTH 767.98PX breakpoints START
@media (max-width: 767.98px) {
    .header {
        .logo__name {
            display: none;
        }
    }
    .main-desktop {
        &__content {
            flex-direction: column;
            &-left {
                margin-bottom: 16px;
            }
            &-right {
                float: unset;
                flex-direction: unset;
                justify-content: end;
                .main-desktop__link {
                    margin-bottom: 0px;
                    >*:last-child {
                       margin-right: 8px; 
                    }
                }
            }
        }
        &__title {
            margin-bottom: 16px;
        }
        &__description {
            .description {
                margin-bottom: 16px;
            }
            :last-child {
                margin-bottom: 52px;
            }
        }
    }


    .footer {
        &__content {
            max-width: 288px;
            margin: 0 auto;
        }
        &__1199 {
            flex-direction: column;
            &>*:not(:last-child) {
                margin-right: 0px;
            }
        }
        .d-m-none {
            display: none;
        }
        &__col {
            .footer__email {
                margin-bottom: 21px;
            }
        }
    }
    .swiper {
        &-pagination {
            width: 440px;
        }
    }
    .submenu {
        &__bitcoin {
            margin-bottom: 10px;
            .bitcoin-block {
                margin: unset;
            }
        }
    }
    .submenu-topics {
        &__body { 
            display: block;
        }
        &__block {
            display: flex;
            &>*:not(:first-child) {
                margin-left: 8px;
            }
        }
        &__content {
            padding: 16px;
        }
        &__body {
            margin: unset;
        }
        &__title {
            margin-bottom: 8px;
        }
        &__info {
            border: 1px solid #fff;
            border-radius: 8px;
            padding: 12px 16px;
            .helvetica-body__13 {
                font-weight: normal;
            }
            &-icon {
                margin-left: 40px;
                display: block;
            }
        }
        &__col {
            margin: 0px 0px 24px 0px;
        }
        &__col.submenu-topics__col-text {
            width: unset;
        } 
        &__col.submenu-topics__col-relase {
            width: 288px;
        } 
    }
}
// MAX-WIDTH 767.98PX breakpoints END

// MAX-WIDTH 576.98PX breakpoints START 
@media (max-width: 575.98px) {
    .wrapper {
        max-width: 90%;
        padding: 0px 16px;
    }
    .main-desktop {
        .d-center {
            display: flex;
            justify-content: center;
        }
        &__content {
            h1 {
                max-width: 288px;
            }
            &-left {
                .button-about {
                    padding: 16px 111px;
                }
            }
            &-right {
                justify-content: center;
            }
        }
    }

    .info-topics {
        &__swiper-nav {
            float: unset;
        }
    }
    .section-tools {
        &__parts-card {
            .tools {
                &-link__wild {
                    width: calc(100%/1 - 9px);
                    height: 88px;
                    margin: 4.5px;
                    display: flex;
                    justify-content: center;
                    &-img {
                        max-width: 100%;
                        width: auto;
                        height: 95%;
                    }
                }
                &-link {
                    width: calc(100%/3 - 9px);
                    height: 88px;
                    margin: 4.5px;
                    &__description {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 13px;
                        line-height: 24px;
                        bottom: 1px;
                    }
                }
                &-img {
                    max-width: 100%;
                    width: auto;
                    height: 95%;
                }
            }
        }
        .m-link {
            width: calc(100%/2 - 9px);
        }
    }
    .partners {
        .swiper {
            &-wrapper {
                margin-bottom: 16px;
            }
        }
        .tools {
            &-link {
                width: 88px;
                height: 88px;
            }
            &-img {
                max-width: 100%;
                width: auto;
                height: 95%;
            }
        }
    }


    .news-card {
        &__little {
            max-width: 288px
        }
    }
    .swiper {
        &-pagination {
            width: 225px;
        }
    }
    .submenu {
        .live-prices {
            .submenu__title {
                margin-bottom: 5px;
            }
        }
        &__content {
            padding: 16px 16px 0px 16px;
            .topics__info {
                margin: 0px 0px 8px 0px;
                .helvetica-body__13 {
                    max-width: unset;
                }
            }
            .topics {
                flex-wrap: unset;
                margin: unset;
                flex-direction: column;
            }
        }
        &__bitcoin {
            margin: 0px 0px 23px 0px;
            flex-wrap: unset;
            flex-direction: column;
            .bitcoin-block {
                width: unset;
                border-radius: unset;
            }
        }
        &__border-mob {
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            padding-bottom: 8px;
        }
    }
    .bitcoin-block {
        padding: 8px 0px 8x 0px;
    }
}
// MAX-WIDTH 576.98PX breakpoints END 