$icomoon-font-family: "icon-font" !default;
$icomoon-font-path: "fonts" !default;

$icon-telegram: "\e900";
$icon-twitter: "\e902";
$icon-facebook: "\e903";
$icon-gmail: "\e905";
$icon-reddit: "\e906";
$icon-search: "\e901";
$icon-angle-right: "\e904";
$icon-arrow-right: "\e907";
$icon-triangle-up: "\e908";
$icon-email: "\e909";
$icon-clock: "\e90a";

